<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sigaritus.swu.travel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".TravelApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SpotDetailActivity"
            android:label="@string/title_activity_spot_detail"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar_">

        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar_">

        </activity>
        <activity
            android:name=".ui.activity.PicActivity"
            android:label="@string/title_activity_pic"
            android:theme="@style/AppTheme.NoActionBar_">

        </activity>
        <activity
            android:name=".ui.activity.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.activity.SendActivity"
            android:label="@string/title_activity_send"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar_"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <service
            android:name="com.avos.avoscloud.PushService"
            android:exported="true" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.PushActivity"
            android:label="@string/title_activity_push"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent222222" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".ui.activity.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".ui.activity.SettingActivity">

        </activity>
        <activity
            android:name=".ui.activity.PicHeadImageActivity"
            android:parentActivityName=".ui.activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SettingActivity" />
        </activity>
    </application>

</manifest>
